/************************************
GENERAL
*************************************/

body {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration:  none;
}

#wrapper {
    /*max width is related to width. But instead f width, max-width  that it can be smaller for mobile devices/tablets.*/
    max-width: 940px;
    /*margin 0 is for all sides */
    margin: 0 auto;
    /*Values first one is top and bottom. Second one is left and right */
    padding: 0 5%;
}

img {
    max-width: 100%;
}

h3 {
    margin: 0 0 1em 0;
}

/*********************************************************
HEADER
**********************************************************/
header  {
    float: left;
    margin: 0 0 30px 0;
    padding: 5px 0 0 0;
    width: 100%;
}
#logo {
    text-align: center;
    margin: 0;
}

h1 {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 15px 0;
    font-size: 1.75em;
}

h2 {
    font-size: 0.75em;
    /*1st value is for top. 2nd value is for left and right. 3rd value is for bottom */
    margin: -5px 0 0;
    font-weight: normal;
}

/*********************************************************
NAVIGATION
**********************************************************/
nav {
   text-align: center;
   padding: 10px 0;
   margin: 20px 0 0;
}

nav ul {
   list-style: none;
   padding 10px;
   margin: 0 10px;
}

nav li {
    display: inline-block;
}

nav a {
    font-weight: 800;
    padding: 15px 10px;
}

/**********************************************************
FOOTER
**********************************************************/
footer {
   font-size: 0.75em;
   text-align: center;
   padding-top: 50px;
   color: #ccc;
   clear: both:
}
.social-media-icon {
    width: 2opx;
    height: 20px;
    margin: 0 5px;
}

/**********************************************************
PAGE PORTFOLIO
**********************************************************/
#gallery {
    margin: 0;
    padding: 0;
    list-style: none;
}

#gallery li {
    float: left;
    width: 45%;
    margin: 2.5%;
    background-color: lightgrey;
    color: #000000
}

#gallery li a p {
    margin: 0;
    padding: 5%;
    font-size: 0.75em;
    color: black;
}
/**********************************************************
ABOUT ME PAGE
**********************************************************/
.profile-photo {
    display: block;
    max-width: 0 auto 30px;
    border-radius: 25%;
}



/**********************************************************
Contact PAGE
**********************************************************/
.contact-info a {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0.9em;
}


.contact-info a {
    display: block;
    min-height: 20px;
    /* by default it will always repeat, background images*/
    background-repeat: no-repeat;
    /*re-size the background img*/
    background-size: 20px 20px;
    padding: 0 0 0 30px;
    margin: 0 0 10px;
}

.contact-info li.mail a {
    background-image: url('../img/mail.png');
}

.contact-info li.twitter a {
    background-image: url('../img/twitter.png');
}




/**********************************************************
COLORS
**********************************************************/
body{
    background-color: #6E6E6E;
}

header {
  background: #5858FA;
  color: #6E6E6E;
}

h1, h2 {
    color: #000000;
}

nav {
    background: #2E2EFE;
}

/*Pseudo-Class */
nav a, nav a:visited {
    color: #5858FA;
}

nav a.selected, nav a:hover{
    color: #C4D14F;
}

/**********************************************************
MEDIA QUERIE 
**********************************************************/
/*TWO COLUMNN LAYOUT*/

@media screen and (min-width: 480px){
    #primary {
       width: 50%;
       float: left;
    }
    
    #secondary {
      width: 40%;
      float: right;
    }
/*THREE COLUMN LAYOUT PORTFOLIO*/
#gallery li{
    width: 28.333%;
}

#gallery li:nth-child[4n]{
    clear: left;
 }
/*ABOUT PAGE */
.profile-photo {
 float: left;
 margin: 0 5% 80px 0;
 }
}

@media screen and (min-width: 660px){
    /*nav*/
    nav
    background: none;
    float: right;
    font-size: 1.125em;
    margin-right: 5%;
    text-align: right;
    width: 45%;
}
#logo {
    float: left;
    margin-left: 5%;
    text-align: left:
    width: 45%;
  }
  h1 {
  font-size:  2.5em;
  }
 
  h2 {
      font-size: 0.825em;
      margin-bottom: 20px;
  }
  header {
      border-bottom: 5px solid black;
      margin-bottom: 60px;
  }